@model List<MyPartyCore.ViewModels.PartyViewModel>

<h4>Всем привет. Приходите на наши вечеринки</h4>
@foreach (var item in Model)
{
<p>
    <party party-view="item" controller-name="Party" action-name="index"></party>
</p>
}

