@using MyPartyCore.ViewModels
@model IEnumerable<PartyViewModel>

<h4>@ViewBag.NameListParties</h4>
<ol>
    @foreach (PartyViewModel item in Model)
    {
        <li>
            <party party-view="item" controller-name="Party" action-name="index"></party>
        </li>
    }
</ol>