@model MyPartyCore.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = @Localizer["Title"];
}

    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">

                        <div class="fileinput-new thumbnail img-circle img-no-padding" data-trigger="fileinput" style="width: 150px; height: 150px;">
                            <img src="/Party/GetImage?userName=bob" alt="..." style="object-fit: cover;">
                        </div>

                        <div class="fileinput-preview fileinput-exists img-no-padding" style="width: 150px; height: 150px;"></div>
                        <div>
                            <span class="btn btn-outline-default btn-file btn-round">
                                <span class="fileinput-new">Add Photo</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="">
                            </span>
                            <br>
                            <a href="#paper-kit" class="btn btn-link btn-danger fileinput-exists btn-round" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

        <form asp-action="Edit" asp-controller="Users">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex"></label>
                <select asp-for="Sex" asp-items="Html.GetEnumSelectList<GenderList>()"></select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value=@Localizer["Save"] class="btn btn-default" />
            </div>
        </form>

        <a asp-controller="Party" asp-action="List" asp-route-id="@Model.Id">@Localizer["ListOfMyParties"]</a>
