@model MyPartyCore.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="register-page full-screen">
    <div class="page-header" style="background-image: url('@Url.Content("~/party.jpg")');">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-7 col-12 ml-auto">
                    <div class="info info-horizontal">
                        <div class="icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="description">
                            <h3> Party! </h3>
                            <p>Приходите на вечеринки друзей и организовывайте свои.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5 col-12 mr-auto">



                    <div class="card card-register">
                        <h3 class="card-title text-center">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">@Localizer["Title"]</font>
                            </font>
                        </h3>

                        <div class="social">
                            <button href="" class="btn btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></button>
                            <button href="" class="btn btn-just-icon btn-google"><i class="fa fa-google"></i></button>
                            <button href="" class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></button>
                        </div>

                        <div class="division">
                            <div class="line l"></div>
                            <span>@Localizer["or"]</span>
                            <div class="line r"></div>
                        </div>

                        <form method="post" asp-controller="Account" asp-action="Register" class="register-form">
                            <div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                                <input asp-for="UserName" class="form-control" />
                            </div>
                            <div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" class="form-control" />
                            </div>
                            <div class="date">
                                <span asp-validation-for="Birthday" class="text-danger"></span>
                                <input asp-for="Birthday" type="text" class="form-control datetimepicker" />
                            </div>
                            <div>
                                <label asp-for="Sex" style="color: #66615b; margin-top: 0px;"></label>
                                <select asp-for="Sex" asp-items="Html.GetEnumSelectList<GenderList>()"></select>
                            </div>
                            <div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input asp-for="Password" class="form-control" />
                            </div>
                            <div>
                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                                <input asp-for="PasswordConfirm" class="form-control" />
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <input type="submit" value=@Localizer["Create"] class="btn btn-block btn-round" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />


    <!--javascript for init-->
    <script>
        $('.datetimepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            },
            format: 'L'
        });

    </script>
}